/* Template by freewebsitetemplates.com */
body {
	background: #077054;
	color: #315f52;
	font-family: 'latoregular';
	font-size: 14px;
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: 'latoregular';
	src: url('../fonts/lato-regular-webfont.eot');
	src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/lato-regular-webfont.woff') format('woff'),
		url('../fonts/lato-regular-webfont.ttf') format('truetype'),
		url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'nixie_oneregular';
	src: url('../fonts/nixieone-regular-webfont.eot');
	src: url('../fonts/nixieone-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/nixieone-regular-webfont.woff') format('woff'),
		url('../fonts/nixieone-regular-webfont.ttf') format('truetype'),
		url('../fonts/nixieone-regular-webfont.svg#nixie_oneregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
a {
	outline: none;
}
img {
	border: none;
}
p {
	line-height: 30px;
	margin: 0;
}
p a {
	color: #315f52;
}
p a:hover {
	color: #451374;
}
#header {
	margin: 0 auto;
	max-width: 960px;
}
#header h1 {
	font-size: 50px;
	font-weight: normal;
	line-height: 50px;
	margin: 0;
	padding: 30px 0;
	text-align: center;
}
#header h1 a {
	color: #99fa99;
	text-decoration: none;
}
#header h1 a span {
	color: #b6d8cf;
	display: block;
	font-family: 'nixie_oneregular';
	font-size: 26px;
	text-transform: uppercase;
}
#header ul#navigation {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
#header ul#navigation li {
	display: inline;
	line-height: 30px;
	position: relative;
}
#header ul#navigation li a {
	color: #b6d8cf;
	font-size: 18px;
	padding: 0 46px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
#header ul#navigation li a:hover,
#header ul#navigation li.current ul li a:hover {
	color: #d3a3ff;
}
#header ul#navigation li.current a {
	color: #99fa99;
}
#header ul#navigation li ul {
	display: none;
	left: 0;
	list-style: none outside none;
	margin: 0;
	padding: 11px 0 0;
	position: absolute;
	top: 12px;
}
#header ul#navigation li:hover ul {
	display: block;
}
#header ul#navigation li ul li {
	background: #077054;
	display: block;
	height: 46px;
	line-height: 46px;
}
#header ul#navigation li ul li a {
	padding: 0 20px;
}
#header ul#navigation li.current ul li a {
	color: #b6d8cf;
}
#body {
	background: #ffffff;
	margin: 1px auto 0;
	max-width: 880px;
	min-height: 827px;
	overflow: hidden;
	padding: 45px 40px 46px;
}
#body > h2 {
	color: #21a51e;
	font-family: 'nixie_oneregular';
	font-size: 35px;
	font-weight: normal;
	line-height: 30px;
	margin: 0;
	padding: 0 0 44px;
}
#body img.figure {
	display: block;
	float: right;
	margin: 74px 38px 46px 0;
	max-width: 100%;
	width: auto;
}
#body div#tagline {
	float: top;
	margin: 110px 0 0 25px;
	max-width: 100%;
}
#body div#tagline h1 {
	background: url(../images/bg-separator.png) no-repeat center bottom;
	color: #21a51e;
	font-family: 'nixie_oneregular';
	font-size: 100px;
	font-weight: normal;
	line-height: 100px;
	margin: 0;
	padding: 0 0 55px;
	text-align: center;
	text-transform: uppercase;
}
#body div#tagline p {
	color: #21a51e;
	font-family: 'nixie_oneregular';
	font-size: 100px;
	line-height: 100px;
	padding: 43px 0 0;
	text-align: center;
}
#body div.content {
	overflow: hidden;
}
#body div.content > div {
	float: left;
	width: 510px;
}
#body div.content h3,
#body form h3,
#body ul.blog li h3 {
	font-family: 'nixie_oneregular';
	font-size: 23px;
	font-weight: normal;
	line-height: 30px;
	margin: 0;
	padding: 25px 0 0;
}
#body div.content h3:first-child,
#body div.content div div.section:first-child {
	padding: 0;
}
#body div.content img.figure {
	margin: 0 38px 46px 0;
}
#body div.content div div.section {
	padding: 55px 0 0;
	width: 430px;
}
#body div.content div div.section span {
	display: block;
	line-height: 30px;
}
#body div.content div ul {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0 0 65px;
}
#body div.content div ul li {
	float: left;
	margin: 0 0 0 83px;
	width: 207px;
}
#body div.content div ul li:first-child {
	margin: 0;
}
#body div.content div ul li img {
	display: block;
	max-width: 100%;
	width: auto;
}
#body div.content div ul li h4 {
	font-family: 'nixie_oneregular';
	font-size: 18px;
	font-weight: normal;
	margin: 0;
	padding: 12px 0 0;
	text-align: center;
}
#body form {
	margin: 25px auto 0;
	overflow: hidden;
	width: 100%;
}
#body form label {
	display: block;
	padding: 15px 0 0;
}
#body form label span {
	display: block;
	line-height: 27px;
	padding: 0 0 5px
}
#body form label input {
	background: #d1d3d4;
	border: 1px solid #b6d8cf;
	color: #315f52;
	display: block;
	font-family: 'latoregular';
	font-size: 14px;
	height: 46px;
	line-height: 46px;
	padding: 0 5px;
	width: 448px;
}
#body form label textarea {
	background: #d1d3d4;
	border: 1px solid #b6d8cf;
	color: #315f52;
	display: block;
	font-family: 'latoregular';
	font-size: 14px;
	height: 250px;
	line-height: 30px;
	overflow: auto;
	padding: 0 5px;
	resize: none;
	width: 448px;
}
#body form input#send {
	background: #077054;
	border: none;
	border-radius: 5px;
	color: #99fa99;
	cursor: pointer;
	font-family: 'latoregular';
	font-size: 14px;
	float: right;
	height: 30px;
	margin: 8px 0 0;
	width: 50px;
}
#body form input#send:hover {
	background: #d3a3ff;
	color: #000000;
}
#body ul.blog {
	list-style: none;
	margin: 0;
	padding: 0;
}
#body ul.blog li {
	overflow: hidden;
	padding: 104px 100px 0 0;
}
#body ul.blog li:first-child {
	padding: 0 100px 0 0;
}
#body ul.blog li img {
	display: block;
	float: left;
	margin: 0 20px 0 0;
	max-width: 100%;
	width: auto;
}
#body ul.blog li h3 {
	line-height: 20px;
	padding: 0 0 8px;
}
#body ul.blog li h3 a,
#body div.content div.sidebar ul li h4 a {
	color: #315f52;
	text-decoration: none;
}
#body ul.blog li h3 a:hover,
#body div.content div.sidebar ul li h4 a:hover {
	text-decoration: underline;
}
#body ul.blog li span,
#body div.content div.article span,
#body div.content div.sidebar ul li span {
	display: block;
	line-height: 30px;
}
#body div.content div.article {
            background-color: #ccffff;
	width: 570px;
}
#body div.content div.article img {
	display: block;
	margin: 0 0 9px;
	max-width: 100%;
	width: auto;
}
#body div.content div.article p {
	padding: 0 0 30px;
}
#body div.content div.sidebar {
	float: left;
	margin: 0 0 0 50px;
	width: 259px;
}
#body div.content div.sidebar ul {
	padding: 20px 0 0;
}
#body div.content div.sidebar ul li {
	border-top: 1px solid #88b4a8;
	float: none;
	margin: 0;
	padding: 18px 0 28px;
	width: auto;
}
#body div.content div.sidebar ul li:first-child {
	border: none;
	padding: 0 0 28px;
}
#body div.content div.sidebar ul li h4 {
	line-height: 30px;
	text-align: left;
}
#footer {
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;
	padding: 30px 0 60px;
}
#footer div {
	float: left;
	width: 500px;
}
#footer div span {
	color: #99fa99;
	display: block;
	font-size: 26px;
	line-height: 24px;
}
#footer div p {
	color: #b6d8cf;
	font-size: 12px;
	line-height: 30px;
}
#footer div#connect {
	float: right;
	overflow: hidden;
	width: auto;
}
#footer div#connect a {
	background: url(../images/icons.png) no-repeat;
	display: block;
	float: left;
	text-indent: -99999px;
}
#footer div#connect a#facebook {
	background-position: 0 0;
	height: 30px;
	width: 16px;
}
#footer div#connect a#twitter {
	background-position: 0 -30px;
	height: 30px;
	margin: 0 0 0 28px;
	width: 37px;
}
#footer div#connect a#googleplus {
	background-position: 0 -61px;
	height: 32px;
	margin: 0 0 0 19px;
	width: 32px;
}
#footer div#connect a#googleplus {
	background-position: 0 -61px;
	height: 32px;
	margin: 0 0 0 19px;
	width: 32px;
}
#footer div#connect a#pinterest {
	background-position: 0 -94px;
	height: 30px;
	margin: 0 0 0 23px;
	width: 30px;
}

/***********************************/
.button2 {
    background: #99fa99 repeat-x scroll 0 0;
    color: #1E1E1E;
    display: inline-block;
    font-size: 13px;
    line-height: 16px;
    margin-left: 4px;
    padding: 7px 22px 9px 20px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.button2:hover {
	background: #21a51e;
	color:#fff;
	text-decoration:none;
}

.button1 {
    background: #077054 repeat-x scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    line-height: 15px;
    margin-left: 4px;
    padding: 7px 22px 9px 20px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.button1:hover {
	background: #d3a3ff;
	color:#1E1E1E;
	text-decoration:none;
}
#panel1,.page1-box2,.page1-box3 {
    background: #ccffff; /*url("images/bg2.gif");*/
    color:  #000000;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 24px 25px 16px 26px;
	-webkit-border-radius: 8px 8px 8px 8px;
border-radius: 8px 8px 8px 8px;
	
}
#panel3, #panel2,.page1-box1{
    background:  #99bbff; /*url("images/bg2.gif");*/
    color:  #000000;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 24px 25px 16px 26px;
	-webkit-border-radius: 8px 8px 8px 8px;
border-radius: 8px 8px 8px 8px;
	
}
.page1-box3:hover {
    background:  #ffccff; /*url("images/bg2.gif");*/
    color:  #000000;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 24px 25px 16px 26px;
	-webkit-border-radius: 8px 8px 8px 8px;
border-radius: 8px 8px 8px 8px;
	
}

#to, #panel2, #panel2-result, #panel3-result {
    display: none;
}
.fright{float:right}
.cenbox{margin-left: 50%;}
.centxt{text-align: center;}
.letter {letter-spacing:-1px;}
.container_12{margin-left:auto;margin-right:auto;width:100%;}
.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12{display:inline;float:left;position:relative;margin-left:5px;margin-right:5px;}
.container_12 .grid_1{width:9%;}.container_12 .grid_2{width:18%;}.container_12 .grid_3{width:27%;}
.container_12 .grid_4{width:36%;}.container_12 .grid_1{width:9%;}.container_12 .grid_2{width:18%;}
.container_12 .grid_3{width:27%;}.container_12 .grid_4{width:36%;}.container_12 .grid_5{width:45%;}
.container_12 .grid_6{width:48%;}.container_12 .grid_7{width:58%;}.container_12 .grid_8{width:70%;}
.container_12 .grid_9{width:78%;}.container_12 .grid_10{width:87%;}.container_12 .grid_11{width:92%;}
.container_12 .grid_12{width:100%;}

.clear {
 clear: both;
 display: block;
 overflow: hidden;
 visibility: hidden;
 width: 0;
 height: 0;
}
